.accordion details {
  border-top: 2px solid var(--c-gray-border);
}

.accordion details summary {
  position: relative;
  padding: 0 16px;
  padding-right: 48px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  font-family: var(--ff-activate-icons);
  font-size: calc((30 / 16) * 1rem);
  content: var(--icon-accordion-closed);
  color: var(--c-primary);
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%);
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  content: var(--icon-accordion-open);
}

.accordion details .accordion-item-body {
  padding: 0 16px;
  font-family: var(--ff-secondary);
  font-style: normal;
  font-weight: 400;
}

.accordion-button {
  background: transparent;
  border: none;     
  cursor: pointer;    
}

.accordion-button[aria-expanded = 'false'] .plus-icon::after {
  content: var(--icon-plus);
  cursor: pointer;
}

.accordion-button[aria-expanded = 'true'] .plus-icon::after {
  content: var(--icon-minus);
  cursor: pointer;
}

.plus-icon{
  color: var(--c-mega-menu-link);
  cursor:pointer;
  line-height: 0px;
  font-family: var(--ff-pricefx-icons);
  font-size: 30px;
  font-weight: var(--fw-regular);
  position: absolute;
  right: 0;
}

.accordion-item-label{
 display: flex;
 align-items: center;
 color: #000;
 font-family: var(--ff-primary);
 font-size: 33px; 
 font-weight: 500;
 line-height: 56px;
}

.accordion-item-label p {
  margin-bottom: 0;
}