.grid__item {
    display: inline-block;
    position: relative;
}

img {
    width: 95px !important;
    flex-shrink: 0;
}

.iframe-width {
    width: 100%;
}

@media (width >= 768px) {
    .iframe-width {
        width: 50%;
    }
}

iframe {
    width: 100%;
}

