.benefits-wrapper {
  display: flex;
}

.benefits {
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.benefits-text{
   text-align: center;
   font-family: var(--ff-secondary);
   font-size: calc((18 / 16) * 1rem);
   font-style: normal;
   font-weight: var(--fw-regular);
   line-height: 28px;
}

.benefits-main-container {
  max-width: 1188px;
  max-height: 753px;
  display: flex;
  justify-content: space-between; 
  border-radius: 8px;
}

.benefits-left-container  {
    width: 50%;
    border-radius: 8px; 
    object-fit: cover;
}

.benefits-right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: top;
    margin: calc((20 / 16) * 1rem);
    overflow: auto;
}

.benefits-image , img { 
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 8px;
}

.benefits-action{ 
   font-family: var(--ff-secondary);
   font-size: calc((18 / 16) * 1rem);
   font-style: normal;
   font-weight: var(--fw-regular);
   line-height: 28px;
   height: 50%;
}

hr {
    display: block;
    width:576px;
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    background: var(--c-primary-lt);
}

p.uppercase {
    text-transform: uppercase;
}

.content p {
  margin: 0; 
  padding: 0; 
  margin-bottom: 10px; 
}

.container {
    height: calc(50% - 1px);
    display: flex;
    justify-content: space-between; 
}

.left-container, .right-container {
    margin: calc((10 / 16) * 1rem);
}

.benefits-para {
    margin-left: 20px;
}

.benefits-icon {
    display: flex;
}

svg{
   width: 45px;
    height: 37px;
    flex-shrink: 0;
}

@media (width <= 650px) { 
  .benefits-main-container {
    flex-direction: column; 
  }

  .benefits-left-container,
  .benefits-right-container {
    width: 100%; 
    flex: 1; 
  }

  .benefits-right-container {
    margin : 0;
  }
}