/* main .hero-container > div {
  max-width: unset;
}
  
main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.hero picture {
  position: absolute;
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */

.section.hero-container {
  background-color: var(--c-gray-lt);
  padding: 0;
}

.hero .hero-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .hero-content-container h1,
.hero .hero-content-container h2,
.hero .hero-content-container h3
.hero .hero-content-container h4,
.hero .hero-content-container h5,
.hero .hero-content-container h6 {
    background: var(--c-dark-blue-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent; 
}

.hero .hero-left-container {
  max-width: 881px;
  margin: 0 auto;
}

.hero .hero-right-container {
  max-width: 40%;
}

.hero .hero-right-container .hero-image-container {
  position: relative;
}

.hero .hero-right-container .hero-image-container::before {
    background: linear-gradient(90deg, #EBECEE 2.33%, #e8e8ebcf 24.08%, #e5e5e7a6 44.28%, #d9d9d900 77.69%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 4;
}


.hero .hero-content-container p {
  font-size: 27px;
  line-height: 33px;
}

.hero .button-container {
  display: inline-flex;
  margin-right: 9px;
}

.hero .hero-secondary-button {
  background: transparent;
  border: 2px solid var(--c-copy);
  color: var(--c-copy);
  font-style: normal;
  padding: 14px 30px;
}

