.case-study {
    display: flex;
}

.case-study .grid-item {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  position:relative;
  width:100%;
  height:100%;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  grid-template-rows: auto; 
  grid-gap: 10px;
  overflow: hidden;
}

.grid-container-3 .image-1 {
  grid-column: auto; 
  grid-row: auto; 
}

.grid-container-2 {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  grid-template-rows: auto; 
  grid-gap: 10px;
  overflow: hidden;
}

.banner{
  position: relative;
  top: 0;
  left: 0;
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  opacity: 0.7518;
  background-color: var(--c-gray-med-2);
  color: var(--c-white);
  padding-left: 20px;
  box-sizing: border-box;
  margin: 20px;
}

@media (width>= 768px) { 
  .grid-container-3 {
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 100px); 
    
  }

  .grid-container-3 .image-1 {
    grid-column: 1 / 3; 
    grid-row: 1 / 3; 
  }

  .grid-container-2 {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 100px); 

  }

    grid-item {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    }
    
    .image {
    position: relative;
    }


}
