.case-study {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column; 
    width: 1068px;
}

.image-container {
    width: 100%;
    position: relative;
}

.banner {
    position: absolute;
    bottom:0;
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    opacity: 0.7518;
    background: var(--c-gray-med-2);
    color: var(--c-white);
    padding: 20px;
    box-sizing: border-box; 
    margin: 20px;
}

.title-text {
   color: var(--c-white);
   font-family: var(--ff-primary);
   font-size: var(--heading-font-size-l);
   font-style: normal;
   font-weight: var(--fw-med);
   line-height: 40px; 
}

.text {
    color: var(--c-white);
    font-family: var(--ff-secondary);
    font-size: var(--heading-font-size-m);
    font-style: normal;
    font-weight: var(--fw-regular);
    line-height: 30px;
}

.image {
    position: relative;
}

.image img {
    width: 100%;
    height: auto;
    display: block;
}

.left-container {
  flex: 1; 
}

.right-container {
  display: flex;
  flex-direction: column; 
}

.right-container > * {
  flex: 1; 
}

.right-container > img {
  height: 50%; 
}


@media (width>= 768px) {
    .container {
        display: flex;
        flex-direction: row; 
    }

    .left-container {
        flex: 1; 
    }

    .right-container {
        flex: 1; 
    }

    .right-container > * {
        flex: 1; 
    }

  .right-container img {
        height: 50%; 
        width: 100%;
        object-fit: cover; 
}

    .top-container img,
    .bottom-container img {
        object-fit: cover; 
    }

    .image-container {
        width: 100%;
        position: relative;
    }

    .image img{
        object-fit: cover;

        /* height: 767px; */
    }
}