@import url('../embed/embed.css');

.section.left-right-boxed-container {
  padding: 0;
}

.boxed-main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxed-left-container, .boxed-right-container {
    flex: 50%;
}