.tabs .tabs-list {
  display: flex;
  max-width: 100%;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin: 32 0;
}

.tabs .tabs-list button {
  position: relative;
  cursor: pointer;
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  background: linear-gradient(123deg, #304F8C 9.71%, #466CB9 86.9%);
  color: var(--text-icon-primary-white, #FFF);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: var(--ff-primary);
  font-size: var(--base-font-size);
  font-weight: var(--fw-med);
  font-style: normal;
  line-height: 16px; 
  text-transform: uppercase;
  border: none;
}

.tabs h3 {
  margin-bottom: 24px;
}

.tabs p {
  margin-bottom: 0;
}

.tabs a.button.primary {
  margin: 0;
  margin-top: 24px;
}

.tabs .tabs-panel[aria-hidden="true"] {
  display: none;
}

/* Vertical Tabs Styles */
.tabs.vertical .tabs-tab {
  padding: 10px 20px;
  margin: 0;
}

.tabs-container .default-content-wrapper {
  text-align: center;
}

@media (width >= 768px) {
  .tabs.vertical {
    display: flex;
  }

  .tabs .tabs-list {
    flex-direction: row;
    gap: 16px;
    margin-bottom: 64px;
    margin-top: 54px;
  }

  .tabs.vertical .tabs-list {
    flex-direction: column;
    justify-content: normal;
  }

  .tabs.vertical .tabs-panel {
    margin-left: 50px;
  }

  .tabs.vertical .tabs-tab {
    padding: 20px 50px;
  }

  .tabs.vertical .tabs-list button[aria-selected="true"]::after,
  .tabs.vertical .tabs-list button:hover::after {
    left: calc(100% - 6px);
    top: calc(50% - 6px);
  }
}


