.table {
  font-family: var(--ff-secondary);
  border-collapse: collapse;
  max-width: 1188px;
  overflow-x:auto
}

/* Default Table */
.table .table-default {
  font-family: var(--ff-secondary);
  border-collapse: collapse;
  border: 2px solid black;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  
}

.table  .table-default td, .table .table-default th {
  border: 1px solid #ddd;
  padding: 24px 32px;
}

.table .table-default tr:nth-child(odd) {
    background-color: var(--c-disabled);
}

.table .table-default th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--c-copy);
  color: var(--c-white);
}

/* Level Table & Level Color common */
.table .table-level, .table .levelcolor {
  font-family: var(--ff-secondary);
  border-collapse: collapse;
}

.table .table-level td,.table  .table-level th, .table .levelcolor td, .table .levelcolor th {
  padding: 24px 32px;
}

.table .table-level th, .table .levelcolor th {
    font-family: var( --ff-primary);
}

.table .table-level tr:nth-child(odd), .table .levelcolor tr:nth-child(odd){
    background-color: #E6F5FC;
}

.table .table-level th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #304F8C;
  color: var(--c-white);
}

/* level color table */
.table .levelcolor td {
    font-weight: 700;
}

.table .levelcolor th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3C5EA3;
}

.table .concentric-circle {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}

.table .table-icon {
  font-family: var(--ff-secondary);
  border: 2px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--c-disabled);
  color: var(--c-black);
  text-align: center;
   border-collapse: collapse; 
}

.table .table-icon th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--c-copy);
  color: var(--c-white);
}

.table .table-icon td{
  padding: 24px 32px;
}

.table .table-icon td,.table .table-icon th {
  border: 4px solid #ddd;
  font-weight: var(--fw-bold);
}

/* IM-connect table */

.table .table-im-connect td, .table .table-im-connect th {
  border: 1px solid #ddd;
  padding: 24px 32px;
}

 .table .table-im-connect th {
  height: 52px;
 }

.table .table-im-connect {
  color: var(--c-full-black);
  font-family: var(--ff-secondary);
  font-size: var(--base-font-size);
  font-style: normal;
  font-weight: var(--fw-regular);
  line-height: 24px; 
}

